{{>layouts/base.header}}
    <h1>Welcome to easel!</h1>
    <p>
        <b>Hello, {{name}}!</b>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at nulla sed tortor tristique faucibus. Aenean in urna diam, vitae molestie leo. Vivamus placerat leo quis enim varius porttitor. Nullam id ante semper libero dapibus commodo at nec nunc. Donec tempor mollis ullamcorper. Nulla dui ligula, mattis eu pellentesque id, fringilla ac nunc. Duis non dolor sed sapien egestas hendrerit. Proin tellus metus, fringilla ac adipiscing non, lobortis vel sapien. Nam viverra aliquam risus, ac ornare velit adipiscing ac. Integer eros nulla, elementum nec ultricies vel, feugiat vel velit. Nam molestie, est sed tincidunt lacinia, erat dolor tincidunt turpis, a accumsan ante lorem quis nisi.
    </p>
{{>layouts/base.footer}}
